# Build tools
setuptools>=65.5.0
wheel

# Core ML library
tensorflow~=2.16.1

# Web application
fastapi
uvicorn[standard]

# Other libraries
deepface
opencv-python
pandas
numpy
python-dotenv
rembg
onnxruntime